body {
    display: flex;
    background-color:#ffcf4f;
    width: 100%;
    height: 80%;
    margin:0;
    padding:0;
    justify-content: center;
    background-image: url(background.png);
    background-size: cover;
}

#mainstage {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬합니다. */
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom:20vw;
}

#bottom_bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

    width: 90%;
    background-color: white;
    height: 20vw;

    bottom : 0%;
    box-shadow: 0px 3px 10px black;
    z-index: 10;
}

#bottom_bar > button {
    width:18%;
    height: auto;
    border: none;
    background-color: white;
    background-size :contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    cursor: pointer;
}

#category {
    background-image: url('../bottom_bar/category.png');
}
#home {
    background-image: url('../bottom_bar/home.png');
}
#my {
    background-image: url('../bottom_bar/my.png');
}
#alarm {
    background-image: url('../bottom_bar/alarm.png');
}
#search {
    background-image: url('../bottom_bar/search.png');
}

#title_logo {
    display: flex;
    width: 90%;
    margin-top:5%;
    justify-content: space-between;
    margin-bottom: 5%;
}

#title {
    width:60%;
    height: auto;
    object-fit: contain;
}

#logo {
    width:35%;
    height: auto;
    object-fit: contain;
}

#search_menu {
    position: relative;
    width: 90%;
    height: 12vw;

    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 1px #ffd04fa4;
}

#search_menu > input {
    width: 100%;
    margin-right: 2.5%;

    font-size:5vw;
    border : none;
}
#search_menu > input:focus{
    outline:none;
}

#search_menu > img {
    height: 65%;
    object-fit: contain;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#tag {
    background-color: white;
    margin-top : 3.5%;

    font-size:4.5vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    width:80%;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#main_menu {
    margin-top: 10%;
    padding-left:2.5%;
    padding-right:2.5%;
    width:78%;
    height: 70vw;
    opacity: 0.97;


    background-color: white;
    border-radius: 8px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.575);
}

#menu_1st, #menu_2st {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#menu_1st > img, #menu_2st > img {
    width: 29%;
    object-fit: contain;
}

#advertisement {
    position: relative;
    z-index:1;

    display: flex;
    background-color: white;
    margin-top : 5%;
    width: 83%;
    height: 60vw;
    justify-content: center;
    align-items: center;

    border:none;
    border-radius: 10px;
    overflow:hidden;
}

#advertisement > img{
    position: absolute;
    z-index: -1;

    width: 100%;

    right: 0%;
    transition: right 0.5s ease;
}

#ad_number {
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 15%;
}

#ad_number > label {
    padding-left:0.7%;
    padding-right:0.7%;
    opacity: 1.0;
    color: white;
    font-size: 3vw;
}
