@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}


body {
    position: relative;
    display: flex;
    background-color:#ffcf4f;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    justify-content: center;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainstage {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬합니다. */
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom:20vw;
}

#bottom_bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

    width: 90%;
    background-color: white;
    height: 20vw;

    bottom : 0%;
    box-shadow: 0px 3px 10px black;
    z-index: 10;
}

#bottom_bar > button {
    width:18%;
    height: auto;
    border: none;
    background-color: white;
    background-size :contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    cursor: pointer;
}

#category {
    background-image: url('../bottom_bar/category.png');
}
#home {
    background-image: url('../bottom_bar/home.png');
}
#my {
    background-image: url('../bottom_bar/my.png');
}
#alarm {
    background-image: url('../bottom_bar/alarm.png');
}
#search {
    background-image: url('../bottom_bar/search.png');
}

#title_logo {
    display: flex;
    width: 90%;
    margin-top:3%;
    justify-content: space-between;
    margin-bottom: 7%;
}

#title {
    width:100%;
    height: auto;
    object-fit: contain;
}

#main_menu {
    width: 100%;
    height: auto;
    margin-top:6%;
}

#Horizontal {
    width: auto;
    height: auto;
    display:flex;
}

.n_menu{
    display:flex;
    flex-direction: column;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:2.5%;
    width: 47%;
}

.list_menu {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom:7%;
}

.list_menu > img:first-child {
    width: 100%;
    object-fit: contain;
}

#event_list {
    width: 78%;
    height: 82.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15%;

    overflow : auto;
}::-webkit-scrollbar {
    display: none;
}

#event_list > img {
    width: 100%;
    object-fit: contain;
    margin-bottom:3%;
}

#community_list_background {
    display:flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 75%;

    top:11%;
    background-color: white;
    border : 0.2vw solid rgba(0, 0, 0, 0.3);
    border-radius: 1vw;
}

#community_list {
    box-shadow: inset 0 -0.7vw 0.7vw -0.7vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.05s ease-in-out;

    width: 90%;
    height: 95%;
    overflow: auto;
}

.button {
    position: absolute;
    object-fit: contain;
    width: 70%;
    bottom: 2.8%;
}

.community_list_link {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 10%;
    margin-bottom:1.5vw;
}
.community_list_link > label {
    position: absolute;
    left: 2%;
    font-size: 3vw;
    width:80%;
    object-fit: contain;
    font-family: 'GangwonEduAll';
    word-spacing: -0.5vw;
}
.community_list_link > img {
    position: absolute;
    right: 2%;
    width:10%;
    object-fit: contain;
}

.category_check_list {
    display: block;
    box-shadow: inset 0 -0.7vw 0.7vw -0.7vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.05s ease-in-out;

    position: absolute;
    right: 5.5%;
    top: 5.5%;
    width: 42.5%;
    height: 80%;
    
    overflow: auto;
}

.category_check_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-0.5vw)
}
.category_check_name > label{
    margin-top:0.9vw;
    font-family: 'KoPubWorldDotum';
    font-size:2.5vw;
}
.category_check_name > img{
    width: 18%;
    object-fit: contain;
}









#category_searching {
    position: absolute;
    top:9%;
    width: 93%;
}
#category_searching > img{
    width: 100%;
    object-fit: contain;
}

#category_searching > button{
    position: absolute;
    right: 53%;
    height: 20%;
    border-radius: 1vw;
    background-color: transparent;
    border:none;
}

#button1 {
    top:5%;
    width: 46%;
}
#button2 {
    top:27.5%;
    width: 36%;
}
#button3 {
    top:51%;
    width: 36%;
}
#button4 {
    top:74%;
    width: 36%;
}






#searching_result_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:13%;

    width: 88%;
}

#searching_result_div > img {
    bottom: 0%;
    width: 97%;
    object-fit: contain;
}

#searching_result_div_after {
    box-shadow: inset 0 -0.7vw 0.7vw -0.7vw rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.05s ease-in-out;

    position: absolute;
    width:85%;
    height: 90%;
    
    overflow: auto;
}

#searching_result_div_after > img {
    width: 100%;
    object-fit: contain;
}






/*//////////////////////광고 파트//////////////////////////////////////*/

#advertisement {
    position: relative;
    z-index:1;

    display: flex;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 100%;
    height: 70.5vw;
    justify-content: center;
    align-items: center;

    border:none;
    border-radius: 1.5vw;
    overflow:hidden;
    
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.288);
}

#advertisement > img{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    top: 0%;

    right: 0%;
    transition: right 0.5s ease;
    user-select: none;
}

#ad_number {
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 3;

    background-color: rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 7.5%;
}

#ad_number > label {
    padding-left:0.7%;
    padding-right:0.7%;
    opacity: 1.0;
    color: white;
    font-size: 2.2vw;
}
/*///////////////////////////////////////////////////////////////////////////*/

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
